/*FONTS*/

@font-face {
    font-family: Caladea;
    src: url(Sources/Fonts/Caladea-Regular.ttf);
}

@font-face {
    font-family: Franklin;
    src: url(Sources/Fonts/FRAHV.TTF);
}

@font-face {
    font-family: Bebas Neue;
    src: url(Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Casino;
    src: url(Fonts/Casino/Casino3D.ttf);
}

@font-face {
    font-family: ZTNature;
    src: url(Fonts/ZTNature/ZTNature-Medium.ttf);
}

@font-face {
    font-family: BoldZTNature;
    src: url(Fonts/ZTNature/ZTNature-Black.ttf);
}

@font-face {
    font-family: LightZTNature;
    src: url(Fonts/ZTNature/ZTNature-Thin.ttf);
}
/*Klassen und Ids*/

h1{
    
    margin-top: 40px;
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(219, 14, 219);
    font-size: 80px;
}

h2{
    font-size: 50px;
    font-family: BoldZTNature , 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

h3{
    font-size: 100px;
    margin-bottom: 0; 
    justify-content: center; 
    align-items: center;
    display: flex;

    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.diashow {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0%;
    top: 0%;

    background-image: url('Sources/Images/slideshow/Slideshow-min.png');
    background-repeat: repeat-x;     /* Wiederholt das Bild horizontal */
    background-size: auto;

    animation: scrollbg 180s linear infinite;
    width: 100%;
    height: 100%;
}

.diashowForeground{
    z-index: 1;
    position: fixed;
    background-color: rgba(12, 0, 11, 0.8); 
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

@keyframes scrollbg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -19200px 0; /* an Bildbreite anpassen */
  }
}


h3 + .bButton{
    margin-left: auto;
}

#DownBackground{
    position: relative;
    top: 50%;
}

/*Schwarzer Balken*/

.blackBar{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-decoration: none;
    filter: blur(0.5px);

    /*Wert 1 ist für Ausrichtung, Wert 2 für Abstand, Wert 3 für Weichzeichnung*/
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.invisibleBar {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    min-width: 930px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.blackBar .BarLeft li {
    float: left;
    list-style-type: none;

}
.BarLeft{
    padding-left: 1%;
    margin-bottom: 0;
    margin-top: 0;
}

.BarLeft a{
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
}

.bButton{
    margin: 0;
    display: block;
    padding: 20px 10px;

    font-family: 'Caladea', Courier, monospace;

    color: white;
    font-size: 25px;
    text-decoration: none;
}

.bButton:hover{
    background-color: rgb(126, 2, 126);
    display: block;
}

#bBarBold{
    font-weight: bold;
}

#blackBarIcon{
    object-fit: contain;
    width: 69px;
    z-index: 109;
}

.IconBar{
    z-index: 109;
    width: 35px;
    opacity: 0.5;
    overflow: hidden;
}

.BarRight{
    position: fixed;
    right: 0;
    padding-right: 1%;
    margin-top: 5px;
    margin-left: 460px;
    align-items: center;
}

.BarRight li{
    width: 60px;
    float: left;
    margin-right: 0%;
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-top: 5px;
}

.IconBar:hover{
    opacity: 1;
    animation: shake 0.8s;     
    animation-iteration-count: infinite;
    width: 40px;
    overflow: hidden;
}

/*Ab hier beginnt der normale CSS Code, davor ist der Code für die Buttons und Blackbar*/

/*BOX1  START */
.Box1{
    z-index: 2;
    background-color: white;
    display: flex;

    position: absolute;
    top: 50px;
    margin: 3%;
    width: 93.5%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box1Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-right: 3%;
    line-height: 180%;
}
.Box1 img{
    position: relative;

    float: left;
    padding: 3%;
    height: 5%;
    width: 15%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box1 img:hover{

    object-fit: contain;
    content: url("Sources/Images/RL_Bild.jpg");
    opacity: 1;
}

/*BOX1  ENDE */

/*BOX2  START */
.Box2{
    z-index: 2;
    background-color: white;

    position: absolute;
    top: 450px;
    margin: 3%;
    width: 45%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box2Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box2 img{
    position: relative;

    float: left;
    margin-top: 5%;
    margin-right: 1%;
    
    height: 15%;
    width: 15%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box2 img:hover{

    object-fit: contain;
    content: url("Sources/Images/Pixelart.png");
    opacity: 1;
}

/*BOX2  ENDE */

/*BOX3  START */
.Box3{
    z-index: 2;
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 60%;
    right: 0%;
    margin: 3%;
    width: 45%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box3Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box3 img{
    position: relative;

    float: left;
    margin-top: 5%;
    margin-right: 1%;
    
    height: 15%;
    width: 15%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box3 img:hover{

    object-fit: contain;
    content: url("Sources/Images/Monitor\ und\ Tastatur.png");
    opacity: 1;
}

/*BOX3  ENDE */

/*BOX4  START */
.Box4{
    z-index: 2;
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 87%;
    left: 0%;
    margin: 3.5%;
    width: 92.5%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box4Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box4 img{
    position:relative;

    float: left;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    
    height: 10%;
    width: 10%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box4 img:hover{

    object-fit: contain;
    content: url("Sources/Images/Pokedex.png");
    opacity: 1;
}

/*BOX4  ENDE */

/*BOX5  START */
.Box5{
    z-index: 2;
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 120%;
    margin: 3%;
    width: 55%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box5Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box5 img{
    position: relative;

    float: left;
    margin-top: 3%;
    margin-right: 1%;
    
    height: 15%;
    width: 15%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box5 img:hover{

    object-fit: contain;
    content: url("Sources/Images/CarioCharPerspective.png");
    opacity: 1;
}

/*BOX5  ENDE */

/*BOX6  START */
.Box6{
    z-index: 2;
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 120%;
    right: 0%;
    margin: 3%;
    width: 35%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box6Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box6 img{
    position: relative;

    float: left;
    margin-top: 8%;
    margin-right: 1%;
    
    height: 20%;
    width: 20%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box6 img:hover{

    object-fit: contain;
    content: url("Sources/Images/IMG_20240528_212936.jpg");
    opacity: 1;
}

/*BOX6  ENDE */

/*BOX7  START */
.Box7{
    z-index: 2;
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 147%;
    left: 0%;
    margin: 3.5%;
    width: 92.5%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box7Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box7 img{
    position:relative;

    float: left;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    
    height: 10%;
    width: 10%;
    vertical-align: middle;

    transition: .5s ease-in-out;
}

.Box7 img:hover{

    object-fit: contain;
    content: url("Sources/Images/htlMödling.jpg");
    border-radius: 40%;
    opacity: 1;
}

/*BOX7  ENDE */