/*FONTS*/

@font-face {
    font-family: Caladea;
    src: url(Sources/Fonts/Caladea-Regular.ttf);
}

@font-face {
    font-family: Franklin;
    src: url(Sources/Fonts/FRAHV.TTF);
}

@font-face {
    font-family: Bebas Neue;
    src: url(Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Casino;
    src: url(Fonts/Casino/Casino3D.ttf);
}

@font-face {
    font-family: ZTNature;
    src: url(Fonts/ZTNature/ZTNature-Medium.ttf);
}

@font-face {
    font-family: BoldZTNature;
    src: url(Fonts/ZTNature/ZTNature-Black.ttf);
}

@font-face {
    font-family: LightZTNature;
    src: url(Fonts/ZTNature/ZTNature-Thin.ttf);
}
/*Klassen und Ids*/

h1{
    
    margin-top: 40px;
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(219, 14, 219);
    font-size: 80px;
}

h2{
    font-size: 50px;
    font-family: BoldZTNature , 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

h3{
    font-size: 100px;
    margin-bottom: 0; 
    justify-content: center; 
    align-items: center;
    display: flex;

    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.diashow {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0%;
    top: 0%;

    background-image: url('Sources/Images/slideshow/Slideshow-min.png');
    background-repeat: repeat-x;     /* Wiederholt das Bild horizontal */
    background-size: auto;

    animation: scrollbg 180s linear infinite;
    width: 100%;
    height: 100%;
    filter: blur(10px);
}

.diashowForeground{
    z-index: 1;
    position: fixed;
    background-color: rgba(12, 0, 11, 0.8); 
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

@keyframes scrollbg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -19200px 0; /* an Bildbreite anpassen */
  }
}


h3 + .bButton{
    margin-left: auto;
}

#DownBackground{
    position: relative;
    top: 50%;
}

/*Schwarzer Balken*/

.blackBar{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-decoration: none;
    filter: blur(0.5px);

    /*Wert 1 ist für Ausrichtung, Wert 2 für Abstand, Wert 3 für Weichzeichnung*/
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.invisibleBar {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    min-width: 930px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.blackBar .BarLeft li {
    float: left;
    list-style-type: none;

}
.BarLeft{
    padding-left: 1%;
    margin-bottom: 0;
    margin-top: 0;
}

.BarLeft a{
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
}

.bButton{
    margin: 0;
    display: block;
    padding: 20px 10px;

    font-family: 'Caladea', Courier, monospace;

    color: white;
    font-size: 25px;
    text-decoration: none;
}

.bButton:hover{
    background-color: rgb(126, 2, 126);
    display: block;
}

#bBarBold{
    font-weight: bold;
}

#blackBarIcon{
    object-fit: contain;
    width: 69px;
    z-index: 109;
}

.IconBar{
    z-index: 109;
    width: 35px;
    opacity: 0.5;
    overflow: hidden;
}

.BarRight{
    position: fixed;
    right: 0;
    padding-right: 1%;
    margin-top: 5px;
    margin-left: 460px;
    align-items: center;
}

.BarRight li{
    width: 60px;
    float: left;
    margin-right: 0%;
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-top: 5px;
}

.IconBar:hover{
    opacity: 1;
    animation: shake 0.8s;     
    animation-iteration-count: infinite;
    width: 40px;
    overflow: hidden;
}

/*Ab hier beginnt der normale CSS Code, davor ist der Code für die Buttons und Blackbar*/

/*BOX1  START */
.Box1{
    z-index: 2;
    background-color: white;
    display: flex;

    position: absolute;
    top: 50px;
    margin: 3%;
    width: 93.5%;
    align-items: center;

    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 1) 0 30px 60px -30px, rgba(0, 0, 0, 0.5) 0 -2px 6px 0px inset;
}
.Box1Text {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-right: 3%;
    line-height: 180%;
    max-width: 70%; 
}
.Box1 .ImgBox1{
    position: relative;
    background-image: url("Sources/Images/RL_Bild.jpg");
    background-size: cover;
    float: left;
    margin: 20px;
    height: 250px;
    width: 250px;
    vertical-align: middle;
    border-radius: 40%;
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0; 
}
.ImgBox1:hover{
    transform: scale(1.1);
    
}

.ImgBox1::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 40%;
    background-image: url("Sources/Images/CaptnCario Anime.png");
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.ImgBox1:hover::before {
  opacity: 0;
}
/*BOX1  ENDE */

/*BOX2  START */
.Box2{
    z-index: 2;
    background-color: white;
    display: flex;

    align-items: center;
    position: absolute;
    top: 470px;
    margin: 3%;
    width: 45%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box2Text {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
    max-width: 60%; 
}

.Box2 .ImgBox2{
    position: relative;
    background-image: url("Sources/Images/Pixelart.png");
    background-size: cover;
    float: left;
    margin: 20px;
    height: 150px;
    width: 150px;
    vertical-align: middle;
    border-radius: 40%;
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0; 
}

.ImgBox2:hover{
    transform: scale(1.1);
}

.ImgBox2::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 40%;
    background-image: url("Sources/Images/Keyblade.jpg");
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.ImgBox2:hover::before {
  opacity: 0;
}

/*BOX2  ENDE */

/*BOX3  START */
.Box3{
    z-index: 2;
    background-color: white;
    display: flex;
    align-items: center;

    position: absolute;
    top: 470px;
    right: 0%;
    margin: 3%;
    width: 45%;
    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box3Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}

.Box3 .ImgBox3{
    position: relative;
    background-image: url("Sources/Images/Monitor\ und\ Tastatur.png");
    background-size: cover;
    float: left;
    margin: 20px;
    height: 150px;
    width: 150px;
    vertical-align: middle;
    border-radius: 40%;
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0; 
}

.ImgBox3:hover{
    transform: scale(1.1);
}

.ImgBox3::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 40%;
    background-image: url("Sources/Images/Würfel.png");
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.ImgBox3:hover::before {
  opacity: 0;
}

/*BOX3  ENDE */

/*BOX4  START */
.Box4{
    z-index: 2;
    background-color: white;
    position: absolute;
    top: 780px;
    left: 0%;
    margin: 3.5%;
    width: 92.5%;
    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;

    display: flex;
    align-items: center;
    
}
.Box4Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}

.Box4 .ImgBox4{
    position: relative;
    background-image: url("Sources/Images/Pokedex.png");
    background-size: cover;
    float: left;
    margin: 20px;
    height: 250px;
    width: 250px;
    vertical-align: middle;
    border-radius: 40%;
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0; 
}
.ImgBox4:hover{
    transform: scale(1.1);
}

.ImgBox4::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 40%;
    background-image: url("Sources/Images/CarioCodePerspective.png");
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.ImgBox4:hover::before {
  opacity: 0;
}

/*BOX4  ENDE */

/*BOX5  START */
.Box5{
    z-index: 2;
    background-color: white;
    top: 1100px;
    display: flex;
    align-items: center;

    position: absolute;
    margin: 3%;
    width: 55%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
}
.Box5Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}

.Box5 .ImgBox5{
    position: relative;
    background-image: url("Sources/Images/CarioCharPerspective.png");
    background-size: cover;
    float: left;
    margin: 20px;
    height: 150px;
    width: 150px;
    vertical-align: middle;
    border-radius: 40%;
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0; 
}

.ImgBox5:hover{
    transform: scale(1.1);
}

.ImgBox5::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 40%;
    background-image: url("Sources/Images/5\ Jubiläum\ POKUSAN.png");
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.ImgBox5:hover::before {
  opacity: 0;
}

/*BOX5  ENDE */

/*BOX6  START */
.Box6{
    z-index: 2;
    background-color: white;

    position: absolute;
    right: 0%;
    margin: 3%;
    width: 35%;

    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;

    top: 1100px;
    display: flex;
    align-items: center;
    
}
.Box6Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box6 .ImgBox6{
    position: relative;
    background-image: url("Sources/Images/IMG_20240528_212936.jpg");
    background-size: cover;
    float: left;
    margin: 20px;
    height: 150px;
    width: 150px;
    vertical-align: middle;
    border-radius: 40%;
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0; 
}

.ImgBox6:hover{
    transform: scale(1.1);
}

.ImgBox6::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 40%;
    background-image: url("Sources/Images/A\ Hat\ in\ Time.png");
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.ImgBox6:hover::before {
  opacity: 0;
}
/*BOX6  ENDE */

/*BOX7  START */
.Box7{
    z-index: 2;
    background-color: white;

    position: absolute;
    left: 0%;
    margin: 3.5%;
    width: 92.5%;

    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
    top: 1380px;
    display: flex;
    align-items: center;
}
.Box7Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box7 .ImgBox7{
    position: relative;
    background-image: url("Sources/Images/htlMödling.jpg");
    background-size: cover;
    float: left;
    margin: 20px;
    height: 250px;
    width: 250px;
    vertical-align: middle;
    border-radius: 40%;
    transition: transform 0.4s ease-in-out;
    flex-shrink: 0; 
}
.ImgBox7:hover{
    transform: scale(1.1);
}

.ImgBox7::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 40%;
    background-image: url("Sources/Images/htlmödlinglogo.png");
    background-color: white;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.ImgBox7:hover::before {
  opacity: 0;
}

/*BOX7  ENDE */

@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
  20% { transform: translate(-1.5px, 0px) rotate(0.5deg); }
  30% { transform: translate(1.5px, 1px) rotate(0deg); }
  40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-0.5deg); }
  60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
  70% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-0.5deg); }
}