/*FONTS*/

@font-face {
    font-family: Persona5;
    src: url(Sources/Fonts/Persona5MenuFontPrototype-Regular.ttf);
}

@font-face {
    font-family: Caladea;
    src: url(Sources/Fonts/Caladea-Regular.ttf);
}

@font-face {
    font-family: Franklin;
    src: url(Sources/Fonts/FRAHV.TTF);
}

/*Klassen und Ids*/

#nCC{
    font-family: Franklin;
    font-size: 27px;
}

body{
    background-image: url("Sources/Images/Background.png") ;
}


h3 + .bButton{
    margin-left: auto;

}

.blackBar{
    z-index: 100;
    background-color: black;
    position:fixed;
    height: 13%;
    display: flex;
    width: auto;
    
    top: 0%;
    left: 0%;
    right: 0%;
    overflow: hidden;

    /*Wert 1 ist für Ausrichtung, Wert 2 für Abstand, Wert 3 für Weichzeichnung*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#bBarBold{
    font-weight: bold;
}

.bButton{
    background-color: black;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 3%;
    font-family: 'Caladea', Courier, monospace;

    color: white;
    font-size: 25px;
    text-decoration: none;

    line-height: 70px;
}

#sayHello{
    font-family: 'Franklin', 'Arial Narrow', Arial, sans-serif;
    
    line-height: 35px;
    margin: 35px 20px 40px 0px;
    padding: 0px 20px 0px 20px;

    border-style: solid;
    border-color: blueviolet;
    border-radius: 50px;

    transition: 0.2s all ease-in-out;
}

/* Hover*/
#sayHello:hover{

    background-color: white;
    color: blueviolet;
}

footer{
    background-color: black;
    color: rgb(128, 128, 128);
    position:absolute;
    height: 13%;
    display: flex;
    width: auto;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

    top: 200%;
    left: 0%;
    right: 0%;

    /*Wert 1 ist für Ausrichtung, Wert 2 für Abstand, Wert 3 für Weichzeichnung*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/*Ab hier beginnt der normale CSS Code, davor ist der Code für die Buttons und Blackbar*/

/*BOX1  START */
.Box1{
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 15%;
    margin: 3%;
    width: 93.5%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box1Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin-right: 3%;
    line-height: 180%;
}
.Box1 img{
    position: relative;

    float: left;
    padding: 3%;
    height: 5%;
    width: 15%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box1 img:hover{

    object-fit: contain;
    content: url("Sources/Images/RL_Bild.jpg");
    opacity: 1;
}

/*BOX1  ENDE */

/*BOX2  START */
.Box2{
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 60%;
    margin: 3%;
    width: 45%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box2Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box2 img{
    position: relative;

    float: left;
    margin-top: 5%;
    margin-right: 1%;
    
    height: 15%;
    width: 15%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box2 img:hover{

    object-fit: contain;
    content: url("Sources/Images/Pixelart.png");
    opacity: 1;
}

/*BOX2  ENDE */

/*BOX3  START */
.Box3{
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 60%;
    right: 0%;
    margin: 3%;
    width: 45%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box3Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box3 img{
    position: relative;

    float: left;
    margin-top: 5%;
    margin-right: 1%;
    
    height: 15%;
    width: 15%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box3 img:hover{

    object-fit: contain;
    content: url("Sources/Images/Monitor\ und\ Tastatur.png");
    opacity: 1;
}

/*BOX3  ENDE */

/*BOX4  START */
.Box4{
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 87%;
    left: 0%;
    margin: 3.5%;
    width: 92.5%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box4Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box4 img{
    position:relative;

    float: left;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    
    height: 10%;
    width: 10%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box4 img:hover{

    object-fit: contain;
    content: url("Sources/Images/Pokedex.png");
    opacity: 1;
}

/*BOX4  ENDE */

/*BOX5  START */
.Box5{
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 120%;
    margin: 3%;
    width: 55%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box5Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box5 img{
    position: relative;

    float: left;
    margin-top: 3%;
    margin-right: 1%;
    
    height: 15%;
    width: 15%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box5 img:hover{

    object-fit: contain;
    content: url("Sources/Images/CarioCharPerspective.png");
    opacity: 1;
}

/*BOX5  ENDE */

/*BOX6  START */
.Box6{
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 120%;
    right: 0%;
    margin: 3%;
    width: 35%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box6Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box6 img{
    position: relative;

    float: left;
    margin-top: 8%;
    margin-right: 1%;
    
    height: 20%;
    width: 20%;
    vertical-align: middle;
    border-radius: 40%;
    transition: .5s ease-in-out;
}

.Box6 img:hover{

    object-fit: contain;
    content: url("Sources/Images/IMG_20240528_212936.jpg");
    opacity: 1;
}

/*BOX6  ENDE */

/*BOX7  START */
.Box7{
    background-color: white;
    padding-right: 00%;

    position: absolute;
    top: 147%;
    left: 0%;
    margin: 3.5%;
    width: 92.5%;
    padding-left: 1%;

    border-radius: 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 1) 0px 30px 60px -30px, rgba(0, 0, 0, 0.5) 0px -2px 6px 0px inset;
    
}
.Box7Text {

    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 3%;
    line-height: 180%;
}
.Box7 img{
    position:relative;

    float: left;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 2%;
    
    height: 10%;
    width: 10%;
    vertical-align: middle;

    transition: .5s ease-in-out;
}

.Box7 img:hover{

    object-fit: contain;
    content: url("Sources/Images/htlMödling.jpg");
    border-radius: 40%;
    opacity: 1;
}

/*BOX7  ENDE */