/*FONTS*/

@font-face {
    font-family: Caladea;
    src: url(Sources/Fonts/Caladea-Regular.ttf);
}

@font-face {
    font-family: Franklin;
    src: url(Sources/Fonts/FRAHV.TTF);
}

@font-face {
    font-family: Bebas Neue;
    src: url(Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Casino;
    src: url(Fonts/Casino/Casino3D.ttf);
}

@font-face {
    font-family: ZTNature;
    src: url(Fonts/ZTNature/ZTNature-Medium.ttf);
}

@font-face {
    font-family: BoldZTNature;
    src: url(Fonts/ZTNature/ZTNature-Black.ttf);
}

@font-face {
    font-family: LightZTNature;
    src: url(Fonts/ZTNature/ZTNature-Thin.ttf);
}
/*Klassen und Ids*/

h1{
    
    margin-top: 40px;
    font-family: 'Casino', 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 80px;
}

h2{
    font-size: 50px;
    font-family: BoldZTNature , 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

h3{
    font-size: 100px;
    margin-bottom: 0; 
    justify-content: center; 
    align-items: center;
    display: flex;

    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: url("Sources/Images/Background.png") ;
}


h3 + .bButton{
    margin-left: auto;
}

#DownBackground{
    position: relative;
    top: 50%;
}

/*Schwarzer Balken*/

.blackBar{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-decoration: none;
    filter: blur(0.5px);

    /*Wert 1 ist für Ausrichtung, Wert 2 für Abstand, Wert 3 für Weichzeichnung*/
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.invisibleBar {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    min-width: 930px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.blackBar .BarLeft li {
    float: left;
    list-style-type: none;

}
.BarLeft{
    padding-left: 1%;
    margin-bottom: 0;
    margin-top: 0;
}

.BarLeft a{
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
}

.bButton{
    margin: 0;
    display: block;
    padding: 20px 10px;

    font-family: 'Caladea', Courier, monospace;

    color: white;
    font-size: 25px;
    text-decoration: none;
}

.bButton:hover{
    background-color: rgb(126, 2, 126);
    display: block;
}

#bBarBold{
    font-weight: bold;
}

#blackBarIcon{
    object-fit: contain;
    width: 69px;
    z-index: 109;
}

.IconBar{
    z-index: 109;
    width: 35px;
    opacity: 0.5;
    overflow: hidden;
}

.BarRight{
    position: fixed;
    right: 0;
    padding-right: 1%;
    margin-top: 5px;
    margin-left: 460px;
    align-items: center;
}

.BarRight li{
    width: 60px;
    float: left;
    margin-right: 0%;
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-top: 5px;
}

.IconBar:hover{
    opacity: 1;
    animation: shake 0.8s;     
    animation-iteration-count: infinite;
    width: 40px;
    overflow: hidden;
}

/*---------------Schwarzer Balken ENDE----------------*/
/*---------------Diashow START------------------------*/


.diashow img{
    position: absolute;
    transition: 3s opacity ease-in-out;

}

.diashow{
    z-index: 1;
    vertical-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;

    margin: 0;
    padding: 0;

    background-image: url('Sources/Images/slideshow/Slideshow-min.png');
    background-repeat: repeat-x;     
    background-size: cover;
    background-position: center center;

    animation: scrollbg 180s linear infinite;
    width: 100vw;
    height: 100vh;
}

@keyframes scrollbg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -19200px 0;
  }
}

.diashowForeground{
    z-index: 1;
    position: absolute;
    background-color: rgba(12, 0, 11, 0.8); 
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

#particles-js{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}
/*---------------Diashow Foreground Icons---------------*/

#profilbild{
    z-index: 100;
    justify-content: center;
    width: 300px;
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
}

.mainText{
    display: flex;
    z-index: 3;
    justify-content: center;
    text-align: center;
    color: white;
}

#titel{
    z-index: 3;
    display: inline-block;
    border-right: 5px solid;
    letter-spacing: auto;
}

/*--------Typewriter Text-------------*/

#typewriter {
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blinkCursor 0.7s infinite;
  margin-left: 10px;
  color: rgb(219, 14, 219);
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}

/*---------------Diashow ENDE--------------------------*/
/*-------------Website Teil 2 Start--------------------*/

.whiteBox{
    z-index: 10;
    position: absolute;
    background-color: rgba(12, 0, 11, 0.8); 
    width: 100%;
    height: 100vh;
    left: 0;
    top: 100%;
    background-color: white;
    display: flex;
}

.diashow_fade{
    animation-name: fade;
    animation-duration: 3s;
}

.wPicBox{    
    position: relative;
    
    background-color: white;
    background-image: url(Sources/Images/StarsGIFNew.gif);
    background-size: 1500px;
    background-position: -400px -100px;
    width: 50%;
    height: 100vh;
    /*border-bottom: 10px solid black;*/
    clip-path: polygon(
    0 0,       /* links oben */
    80% 0%,  /* rechts oben (tiefer für Schräge) */
    100% 100%, /* rechts unten */
    0 100%     /* links unten */
  ); 
  
}

.wPicBox img{    
    width: 800px;
    margin: 0;
    padding: 0;   
    bottom: 0px;
    left: 0px;
    position: absolute; 
    overflow: hidden;
    margin-left: -80px;
}
.wTxtBox{
    position: relative;
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: center;

    font-size: 28px;
    align-items: center;
    /*line-height: 50px;*/
    text-align: center;
}

.wTxtBox p{
    font-family: ZTNature , 'Arial Narrow Bold', sans-serif;
    padding-left: 55px;
    padding-right: 55px;
}

.wIcoBox{
    position: relative;
    background-color: white;
    width: 30%;
    height: 100vh;
    display: grid;
    justify-content: center;
}

.wIcoBox::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5%;  
    height: 90%;  
    width: 0;
    border-left: 5px dashed rgba(0, 0, 0, 0.2);
}

.wIcons{
    width: 250px;
    height: 250px;
    margin-top: 40px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;

    font-size: 25px;
    font-family: ZTNature, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.wIcons img{
    width: 170px;
    height: 170px;
    justify-content: center;
}

.wIcons p{
    margin: 0 auto;
    position: static;
    top: 0;
    padding-top: -17px;
}

.PInfo{
    font-family: LightZTNature , 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}

/*-------------Website Teil 2 Ende----------------------*/
/*-------------Website Teil 3 Start---------------------*/

.BackgroundTimeline{
    z-index: 1;
    position: absolute;
    background-color: rgba(12, 0, 11, 0.8); 
    width: 100%;
    height: auto;
    left: 0;
    top: 200%;
    overflow: hidden;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TimelineContainer {
  padding: 2rem;
  padding-bottom: 40rem;
  margin: 0 auto;
  max-width: 80rem;
}

.top-section {
  text-align: center;
  padding: 4rem 0;
  max-width: 60rem;
  margin: 0 auto;
  
  h1 {
    color:#ffffff;
    font-weight: 600;
  }
}

.timeline {
  position: relative;
  min-height: 15rem;
}

.line {
  background-color: #ffffff;;
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -5rem;
  bottom: -5rem;
  display: none;
}

.line::before,
.line::after {
  background-color: rgb(126, 2, 126);
  position: absolute;
  display: block;
  content: "";
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.line::after {
  bottom: 0;
}

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 5rem 0;
  padding: 1rem;
  border-radius: 1rem;
  background-color: transparent;
  align-items: center;
  min-height: 30rem;
  
  h4 {
    color: blueviolet;
    font-weight: 400;
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
    transform: translateX(100%);
  }

  &:nth-child(even) {
    text-align: right;
  }
}

.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rgb(219, 14, 219);
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content {
  width: calc(50% - 2rem);
  background-color: transparent;
  border-radius: 20px;

}

.content h4{
    color: white;
    font-family: BoldZTNature, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content h2{
    color: rgb(219, 14, 219);
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0px;
}

.content p{
    color: white;
    font-family: ZTNature, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

.top-section p{
    color: white;
    background-color: rgb(126, 2, 126);
    display:inline;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    border-style: solid;
}

/*-------------Website Teil 3 Ende---------------------*/
footer{
    z-index: 150;
    background-color: black;
    color: rgb(128, 128, 128);
    position:absolute;
    height: 13%;
    display: flex;
    width: auto;
    justify-content: center;
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;

    top: 5250px;
    left: 0%;
    right: 0%;

    /*Wert 1 ist für Ausrichtung, Wert 2 für Abstand, Wert 3 für Weichzeichnung*/
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

}

#sayHello{
    font-family: 'Franklin', 'Arial Narrow', Arial, sans-serif;
    
    line-height: 35px;
    padding: 0 20px 0 20px;

    border-style: solid;
    border-color: blueviolet;
    border-radius: 50px;

    transition: 0.2s all ease-in-out;
    color: black;
    text-decoration: none;
    margin-top: 0px;
}

.Balken{
    height: 600px;
    position: absolute;
    display: flex;
    width: 100px;
    left: 37.2%;

    z-index: 8;
    background-color: black;
    float: right;
    transform: skewX(10deg)
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

@keyframes fade{
    from{ opacity: .4}
    to {opacity: 1}
}

@keyframes animate {
    100%{
        background-position: 1000px 1000px;
        background-image: url(Sources/Images/whiteSkillTree_repeat.png);
    }
    
}

@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
  20% { transform: translate(-1.5px, 0px) rotate(0.5deg); }
  30% { transform: translate(1.5px, 1px) rotate(0deg); }
  40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-0.5deg); }
  60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
  70% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-0.5deg); }
}


/* Hover*/
#sayHello:hover{

    background-color: white;
    color: blueviolet;
}

