/*FONTS*/

@font-face {
    font-family: Persona5;
    src: url(Sources/Fonts/Persona5MenuFontPrototype-Regular.ttf);
}

@font-face {
    font-family: Caladea;
    src: url(Sources/Fonts/Caladea-Regular.ttf);
}

@font-face {
    font-family: Franklin;
    src: url(Sources/Fonts/FRAHV.TTF);
}

/*Klassen und Ids*/

#nCC{
    font-family: Franklin;
    font-size: 27px;
}

body{
    background-image: url("Sources/Images/Background.png") ;
}


h3 + .bButton{
    margin-left: auto;

}

#DownBackground{
    position: relative;
    top: 50%;
}

/*Schwarzer Balken*/

.blackBar{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-decoration: none;
    filter: blur(0.5px);

    /*Wert 1 ist für Ausrichtung, Wert 2 für Abstand, Wert 3 für Weichzeichnung*/
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.invisibleBar {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    min-width: 930px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.blackBar .BarLeft li {
    float: left;
    list-style-type: none;

}
.BarLeft{
    padding-left: 1%;
    margin-bottom: 0;
    margin-top: 0;
}

.bButton{
    margin: 0;
    display: block;
    padding: 20px 10px;

    font-family: 'Caladea', Courier, monospace;

    color: white;
    font-size: 25px;
    text-decoration: none;
}

.bButton:hover{
    background-color: rgb(182, 0, 0);
    display: block;
}

#bBarBold{
    font-weight: bold;
}

#blackBarIcon{
    object-fit: contain;
    width: 69px;
    z-index: 109;
}

.IconBar{
    z-index: 109;
    width: 35px;
    opacity: 0.5;
    overflow: hidden;
}

.BarRight{
    position: fixed;
    right: 0;
    padding-right: 1%;
    margin-top: 5px;
    margin-left: 460px;
    align-items: center;
}

.BarRight li{
    width: 60px;
    float: left;
    margin-right: 0%;
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-top: 5px;
}

.IconBar:hover{
    opacity: 1;
    animation: shake 0.8s;     
    animation-iteration-count: infinite;
    width: 40px;
    overflow: hidden;
}

/*---------------Schwarzer Balken ENDE----------------*/
/*---------------Diashow START------------------------*/


.diashow img{
    position: absolute;
    transition: 3s opacity ease-in-out;

}

.diashow{
    z-index: 1;
    vertical-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;

    /* transform: skewX(10deg) */
}

.diashowForeground{
    z-index: 1;
    position: absolute;
    background-color: rgba(12, 0, 11, 0.8); 
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

#particles-js{
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}
/*---------------Diashow Foreground Icons---------------*/

#profilbild{
    z-index: 100;
    justify-content: center;
    width: 300px;
    display: flex;
    margin: 0 auto;
    margin-top: 150px;
    position: relative;
}

.mainText{
    display: flex;
    z-index: 3;
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

#titel{
    z-index: 3;
    display: inline-block;
    border-right: 5px solid;
    letter-spacing: auto;
}

/*--------Typewriter Text-------------*/

#typewriter {
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blinkCursor 0.7s infinite;
  margin-left: 10px;
  color: rgb(219, 14, 219);
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}

/*---------------Diashow ENDE--------------------------*/

/*-------------Website Teil 2 Start--------------------*/

.whiteBox{
    z-index: 10;
    position: absolute;
    background-color: rgba(12, 0, 11, 0.8); 
    width: 100%;
    height: 100vh;
    left: 0;
    top: 100%;
    background-color: white;

    /*
    background: linear-gradient(-110deg,red 450px,transparent 0);
    background-image:linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(Sources/Images/whiteSkillTree_repeat.png);
    animation: animate 30s linear;
    animation-iteration-count: infinite;
    background-repeat: repeat;
    */
}

/*
.knowledgeAexample{
    z-index: 6;
    position: relative;
    right: 50px;
    top: 700px;
    height: auto;
}

.knowledge img{
    width: 95%;
    height: 60%;
    animation: fadeIn 3s; /* Muss nochmal überarbeitet werden*/

/*
.knowledge{
    float: left;
    width: 1000px;
}

.example{
    top: 110%;
    float: left;
    left: 55%;
    position: absolute;
    width: 700px;
    
}

.example img{
    width: 25%;
    height: 25%;
}
*/
.diashow_fade{
    animation-name: fade;
    animation-duration: 3s;
}
/*
.example h3{
    float: right;
    font-size: 40px;
    margin-bottom: 45px;
    padding-top: -10%;
    margin-right: -20%;
    width: 90%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 2px 2px white;
}
*/

footer{
    background-color: black;
    color: rgb(128, 128, 128);
    position:absolute;
    height: 13%;
    display: flex;
    width: auto;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

    top: 200%;
    left: 0%;
    right: 0%;

    /*Wert 1 ist für Ausrichtung, Wert 2 für Abstand, Wert 3 für Weichzeichnung*/
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

}

#sayHello{
    font-family: 'Franklin', 'Arial Narrow', Arial, sans-serif;
    
    line-height: 35px;
    margin: 35px 20px 40px 0;
    padding: 0 20px 0 20px;

    border-style: solid;
    border-color: blueviolet;
    border-radius: 50px;

    transition: 0.2s all ease-in-out;
}

.Balken{
    height: 600px;
    position: absolute;
    display: flex;
    width: 100px;
    left: 37.2%;

    z-index: 8;
    background-color: black;
    float: right;
    transform: skewX(10deg)
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

@keyframes fade{
    from{ opacity: .4}
    to {opacity: 1}
}

@keyframes animate {
    100%{
        background-position: 1000px 1000px;
        background-image: url(Sources/Images/whiteSkillTree_repeat.png);
    }
    
}

@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
  20% { transform: translate(-1.5px, 0px) rotate(0.5deg); }
  30% { transform: translate(1.5px, 1px) rotate(0deg); }
  40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-0.5deg); }
  60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
  70% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-0.5deg); }
}

h1{
    
    margin-top: 40px;
    font-family: 'Persona5';
    color: white;
}
h2{
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* Hover*/
#sayHello:hover{

    background-color: white;
    color: blueviolet;
}

