/*FONTS*/

@font-face {
    font-family: Caladea;
    src: url(Sources/Fonts/Caladea-Regular.ttf);
}

@font-face {
    font-family: Franklin;
    src: url(Sources/Fonts/FRAHV.TTF);
}

@font-face {
    font-family: Bebas Neue;
    src: url(Fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Casino;
    src: url(Fonts/Casino/Casino3D.ttf);
}

@font-face {
    font-family: ZTNature;
    src: url(Fonts/ZTNature/ZTNature-Medium.ttf);
}

@font-face {
    font-family: BoldZTNature;
    src: url(Fonts/ZTNature/ZTNature-Black.ttf);
}

@font-face {
    font-family: LightZTNature;
    src: url(Fonts/ZTNature/ZTNature-Thin.ttf);
}
/*Klassen und Ids*/

h1{
    
    margin-top: 40px;
    font-family: 'Casino', 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 80px;
}

h2{
    font-size: 50px;
    font-family: BoldZTNature , 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

h3{
    font-size: 100px;
    margin-bottom: 0; 
    justify-content: center; 
    align-items: center;
    display: flex;
    color: rgb(219, 14, 219);

    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    font-size: var(--font-size-small);
    font-family: ZTNature , 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: var(--white-1);
    line-height: var(--line-height-normal);

    /* WICHTIG für dein Hover-Background */
    transition: background-image 0.4s ease-in-out;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    overflow-x: hidden;
}


h3 + .bButton{
    margin-left: auto;
}

#DownBackground{
    position: relative;
    top: 50%;
}

/*Schwarzer Balken*/

.blackBar{
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-decoration: none;
    filter: blur(0.5px);

    /*Wert 1 ist für Ausrichtung, Wert 2 für Abstand, Wert 3 für Weichzeichnung*/
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.invisibleBar {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto;
    min-width: 930px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.blackBar .BarLeft li {
    float: left;
    list-style-type: none;

}
.BarLeft{
    padding-left: 1%;
    margin-bottom: 0;
    margin-top: 0;
}

.BarLeft a{
    font-family: Bebas Neue, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
}

.bButton{
    margin: 0;
    display: block;
    padding: 20px 10px;

    font-family: 'Caladea', Courier, monospace;

    color: white;
    font-size: 25px;
    text-decoration: none;
}

.bButton:hover{
    background-color: rgb(126, 2, 126);
    display: block;
}

#bBarBold{
    font-weight: bold;
}

#blackBarIcon{
    object-fit: contain;
    width: 69px;
    z-index: 109;
}

.IconBar{
    z-index: 109;
    width: 35px;
    opacity: 0.5;
    overflow: hidden;
}

.BarRight{
    position: fixed;
    right: 0;
    padding-right: 1%;
    margin-top: 5px;
    margin-left: 460px;
    align-items: center;
}

.BarRight li{
    width: 60px;
    float: left;
    margin-right: 0%;
    list-style-type: none;
    margin: 0px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-top: 5px;
}

.IconBar:hover{
    opacity: 1;
    animation: shake 0.8s;     
    animation-iteration-count: infinite;
    width: 40px;
    overflow: hidden;
}

/*---------------Schwarzer Balken ENDE----------------*/
/*DIASHOW*/
.diashow img{
    position: absolute;
    transition: 3s opacity ease-in-out;

}

.diashow{
    z-index: -31;
    vertical-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;

    margin: 0;
    padding: 0;

    background-image: url('Sources/Images/slideshow/Slideshow-min.png');
    background-repeat: repeat-x;     
    background-size: auto;

    animation: scrollbg 180s linear infinite;
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

@keyframes scrollbg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -19200px 0;
  }
}

.diashowForeground{
    z-index: -31;
    position: fixed;
    background-color: rgba(12, 0, 11, 0.8); 
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}
/*Diashow Ende*/

/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

@font-face {
    font-family: 'Hk Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Jost-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-size-normal: 2.2rem;
    --font-size-medium: 2.8rem;
    --font-size-medium-1: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Hk Grotesk', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --black: #000;
    --pink: rgb(219, 14, 219) ;
    --white: #f0e9f2;
    --white-1: #e5e5e6da;


    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px; 
    --container-small-width: 500px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small-1: 2.5rem;
    --gutter-small: 2rem;

    --border-light: 1px solid rgb(36, 35, 35);
}

html {
    font-size: 62.5%; /* (16/10)*100 = 62.5% => 1rem = 10px */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media(max-width: 1000px) {
    html {
        font-size: 52%;
    }
}



.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

@media(max-width: 1340px) {
    .row {
        max-width: 1100px;
    }
}

@media(max-width: 1240px) {
    .row {
        padding: 0 var(--gutter-medium);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-normal);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-small);
    }
}

section {
    padding: var(--gutter-huge) 0;
    border-bottom: var(--border-light);
}

img {
    object-fit: contain;
    max-width: 100%;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */

h1,
h2,
h3 {
    font-weight: 400;
    line-height: var(--line-height-small);
}

.heading-primary {
    line-height: 1;
    font-size: var(--font-size-huge);
    font-weight: 400;
}

@media(max-width: 900px) {
    .heading-primary {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-medium);
}

h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--pink);
    margin: var(--gutter-small) 0;
}

h3 {
    font-size: var(--font-size-medium-1);
    margin-bottom: var(--gutter-small);
}

@media(max-width: 500px) {
    .heading-primary {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-medium-1);
    }

    h3 {
        font-size: var(--font-size-medium);
    }
}

p {
    margin: var(--gutter-small-1) 0;
}

@media(max-width: 900px) {
    p { 
        max-width: var(--container-small-width);
    }
}

/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    color: var(--white);
    font-weight: 400;
    transition: all .2s;
    outline: 2px solid transparent;
}

::-moz-focus-inner {
    border: 0;
}

button:focus,
a:focus {
    outline: 2px solid var(--pink);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
    outline: none;
}

.link:hover {
    color: var(--pink);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid  var(--pink);
    font-weight: 400;
}

.btn:focus {
    outline: none;
}

.btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: var(--pink);
}

.btn--pink {
    background: var(--pink);
    transition: all 0.2s;
}

.btn--pink::after {
    display: none;
}

.btn--pink:hover,
.btn--pink:focus {
    background: transparent;
}

.link__text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--pink);
}

.link__text::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link__text:focus {
    outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
    right: 0;
    background: var(--pink);
}

.link__text span {
    padding-left: 1rem;
    font-family: sans-serif;
}

/* --------------------------------------- */
/* ----- Work ----- */
/* --------------------------------------- */

.work__box {
    display: flex;
    align-items: center;
}

@media(max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.work__box:not(:last-child) {
    margin-bottom: 25rem;
}

@media(max-width: 500px) {
    .work__box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.work__links {
    display: flex;
    align-items: center;
}

.work__text {
    flex: 0 0 30%;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border:  3px  solid white;
    padding: 20px;
}

.work__list {
    /* list-style-type: square; */
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
}

.work__code {
    display: block;
    height: 3rem;
    margin-left: var(--gutter-normal);
    transition: all .3s;
}

.work__code:hover {
    transform: scale(1.2);
}

.work__image-box {
    margin-bottom: var(--gutter-normal);
}

@media(min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 10rem;
    }
}

@media(max-width: 900px) {
    .work__code {
        height: 4rem;
    }
}

.gallery {
   --s: 250px; /* control the size */
  --g: 10px;  /* control the gap */
  display: grid;
  margin: calc(var(--s) + var(--g));
}

.gallery > img {
  grid-area: 1/1;
  width: var(--s);
  aspect-ratio: 1.15;
  object-fit: cover;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%,75% 100%,25% 100%,0 50%);
  transform: translate(var(--_x,0),var(--_y,0)) scale(var(--_t,1));
  cursor: pointer;
  filter: grayscale(80%);
  transition: .2s linear;
}
.gallery > img:hover {
  filter: grayscale(0);
  z-index: 1;
  --_t: 1.2;
}

.gallery > img:nth-child(1) {--_y: calc(-100% - var(--g))}
.gallery > img:nth-child(7) {--_y: calc( 100% + var(--g))}
.gallery > img:nth-child(3),
.gallery > img:nth-child(5) {--_x: calc(-75% - .87*var(--g))}
.gallery > img:nth-child(4),
.gallery > img:nth-child(6) {--_x: calc( 75% + .87*var(--g))}
.gallery > img:nth-child(3),
.gallery > img:nth-child(4) {--_y: calc(-50% - .5*var(--g))}
.gallery > img:nth-child(5), 
.gallery > img:nth-child(6) {--_y: calc( 50% + .5*var(--g))}

#bg-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;   /* breiter als Bildschirm */
    height: 100vh;  /* höher als Bildschirm */
    transform: translate(-50%, -50%); /* zentriert */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    z-index: -1;
}

@keyframes shake {
  0% { transform: translate(0.5px, 0.5px) rotate(0deg); }
  10% { transform: translate(-0.5px, -1px) rotate(-0.5deg); }
  20% { transform: translate(-1.5px, 0px) rotate(0.5deg); }
  30% { transform: translate(1.5px, 1px) rotate(0deg); }
  40% { transform: translate(0.5px, -0.5px) rotate(0.5deg); }
  50% { transform: translate(-0.5px, 1px) rotate(-0.5deg); }
  60% { transform: translate(-1.5px, 0.5px) rotate(0deg); }
  70% { transform: translate(1.5px, 0.5px) rotate(-0.5deg); }
  80% { transform: translate(-0.5px, -0.5px) rotate(0.5deg); }
  90% { transform: translate(0.5px, 1px) rotate(0deg); }
  100% { transform: translate(0.5px, -1px) rotate(-0.5deg); }
}